body{
    margin: 0;
    padding: 0;
}

main{
    margin: 0;
    padding: 0;
}

.container{
    width: 100hv;
    height: 100vh;
}

.background{
    background-image: url(https://image.freepik.com/foto-gratis/gaviota-volando-nubes-fondo_1206-48.jpg);
    background-size: 100%;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
}

.back-color{
    background-color: rgba 0, 0, 0, 1);
    width: 100%;
    height: 100%;
}

.row{
    width: 60%;
    background-color: yellow;
    height: 60%;
}

.container .background .back-color .row .col-60 h2{
    margin-top: 0;
    padding: 0;
}